{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'problems/css/styles.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'problems/css/fonts.css' %}" rel="stylesheet" />
    <title>{{ title }}</title>

</head>
<body>
{% block mainmenu %}
    <header>
        <div class="header-contain">
            <ul class="menu-block">
                <li class="trans_a"><a href="{% url 'home' %}"><div class="menu">Информация</div></a></li>
                <li class="trans_a"><a href="{% url 'home' %}"><div class="menu">Проекты</div></a></li>
                <li class="trans_a"><a href="{% url 'home' %}"><div class="menu">Проблемы</div></a></li>
            </ul>

            <ul>
                <li class="add-buttons"><a href="{% url 'add_page' %}"><div class="add-buttons_text">Добавить проблему</div></a> </li>
                <li class="add-buttons"><a href="{% url 'add_page' %}"><div class="add-buttons_text">Добавить проект</div></a> </li>
            </ul>
            <div class="account"></div>
        </div>

    </header>
{% endblock mainmenu %}
{% block picture %}
<picture>
    <div class="pic_contain">
        <div class="pic_content">
            <div class="l1">
                <div class="logo"></div>
                <div class="logo_title">
                    <div class="title1">студенческий проект</div>
                    <div class="title2">ПРОЕКТНАЯ ПЛОЩАДКА<br>МЕХАНИКО-МАТЕМАТИЧЕСКОГО ФАКУЛЬТЕТА</div>
                </div>
            </div>
            <div class="l2">
                <div class="title3">ПРОЕКТЫ</div>
                <div class="arrow"></div>
            </div>
        </div>
   </div>

</picture>
{% endblock %}

{% block content %}
{% endblock %}
<div class="layout">
{% block form_content %}
{% endblock %}
</div>
</body>