{% extends 'problems/base.html' %}

{% block content %}
<h1>{{title}}</h1>
        <div class="col-projects">
            {% for p in projects %}
            <div class="rect">
                <div class="content">
                    <div class="title">{{p.title}}</div>
                    <div class="leader">Руководитель: {{p.project.get}}</div>
                    <div class="tags">Тэги</div>
                    <div class="description">{{p.shortdescription}}</div>
                    <div class="curator">Куратор: {{p.curator}}</div>
                    <button class="details">Подробнее</button>
                </div>
           </div>
            {% endfor %}
        </div>
{% endblock %}