{% extends 'problems/base.html' %}

{% block content %}
        <div class="col-projects">
            {% for p in projects %}
            <div class="rect">
                <div class="content">
                    <div class="title">{{p.title}}</div>
                    <div class="leader">Менеджер: {{p.project.get}}</div>
                    <div class="tags">Тэги</div>
                    <div class="description">{{p.shortdescription}}</div>
                    <button class="details"><a href="{{p.get_absolute_url}}"><div class="more">Подробнее</div></a></button>
                </div>
           </div>
            {% endfor %}
        </div>
{% endblock %}