html {
    position: relative;
    min-height: 100%;
}
h1 {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-family: "Averta CY", sans-serif;
}
h3, p {
    font-family: "Proxima Nova", sans-serif;
}
hr {
    margin-right: 15%;
    margin-left: 15%;
    color: #54b686;
    border: none;
    background-color: #54b686;
    height: 2px;
}
header {
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    display: block;
    width: 100vw;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}
header .add-buttons {
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 150px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    font-family: "Montserrat", sans-serif;
}
header .trans {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 5%;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    font-family: "Averta CY", sans-serif;
}
header .trans a {
    text-decoration: none;
    color: #434242;
    font-weight: normal;
    margin-right: 50px;
}
header #current {
    color: #54b686;
}
header .add-buttons a {
    text-decoration: none;
    color: #434242;
    font-weight: bold;
    margin-right: 30px;
}
header .add-buttons a:hover {
    color: #54b686;
}
header #login img {
    position: absolute;
    right: 90px;
    top: 15px;
    width: 50px;
    height: auto;
}
.under-header {
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 80px;
}
.layout {
    width: 70%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
#mmd-logo-green {
    display: inline-block;
}
.main-page-title {
    text-transform: uppercase;
    background-color: #54b686;
    height: 240px;
    color: white;
}
.main-page-title title {
    display: inline-block;
    position: absolute;
    left: 500px;
}
.main-page-title #mmd-logo-green {
    display: inline-block;
    margin-left: 10%;
}
.main-page-title .title h1 {
    font-size: 50px;
}
.main-page-title .title h3 {
    font-size: 15px;
}
.bbutton {
    display: inline-block;
    width: 33%;
    height: 800px;
    background-color: white;
}
.bbutton h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    color: black;
}
input {
    font-family: "Averta CY", sans-serif;
    font-size: 20px;
    color: #434242;
    box-sizing: border-box;
}
form * {
    margin-bottom: 30px;
}
form p {
    margin-left: 30px;
    font-family: "Averta CY", sans-serif;
    font-size: 20px;
    color: #434242;
}
form .section-column {
    display: inline-block;
    width: 50%;
}
form h2 {
    font-family: "Averta CY", sans-serif;
    font-size: 50px;
    font-weight: 400;
    padding-top: 30px;
}
form input[type=text], input[type=tel], input[type=email] {
    box-sizing: border-box;
    padding: 5px 30px;
    height: 50px;
    width: 45%;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
}
form textarea {
    box-sizing: border-box;
    padding: 5px 30px;
    height: 200px;
    width: 100%;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
    font-family: "Averta CY", sans-serif;
    font-size: 20px;
    color: #434242;
    resize: none;
}
form input[name=project-name], textarea[name=project-description-short] {
    width: 100%;
}
form input[name=project-description-short] {
    height: 180px;
}
form input[type=text]:focus, form input[type=tel]:focus, form input[type=email]:focus, form textarea:focus {
    outline: none;
    border: 2px #54b686 solid;
    padding: 3px 28px;
}
form input[name=project-tag-add-1], form input[name=project-tag-add-2], form input[name=project-tag-add-3], form input[name=project-tag-add-4] {
    width: calc(100% / 5 - 20px);
    margin-right: 21px;
}
form input[name=project-tag-add-5] {
    width: calc(100% / 5 - 20px);
}
form input[type=submit] {
    width: 400px;
    height: 50px;
    background-color: #54b686;
    border: none;
    border-radius: 35px;
    margin-left: calc(50% - 200px);
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
form input[name=curator-last-name], form input[name=teacher-last-name], form input[name=curator-first-name], form input[name=teacher-first-name] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
    margin-right: 20px;
}
form input[name=curator-patronymic], form input[name=teacher-patronymic] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
}
form input[name=project-member-name], form input[name=project-member-last-name] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
    margin-right: 20px;
}
form input[name=project-member-patronymic] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
}