h1 {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-family: "Averta CY", sans-serif;
}
h3, p {
    font-family: "Proxima Nova", sans-serif;
}
hr {
    margin-right: 15%;
    margin-left: 15%;
    color: #54b686;
    border: none;
    background-color: #54b686;
    height: 2px;
}
/* header stylisation */
header {
    z-index: 9999;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: block;
    width: 100%;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
header .add-buttons {
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 120px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    font-family: "Montserrat", sans-serif;
}
header .trans {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 5%;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    font-family: "Averta CY", sans-serif;
}
header .trans a {
    text-decoration: none;
    color: #434242;
    font-weight: normal;
    margin-right: 50px;
}
header #current {
    color: #54b686;
}
header .add-buttons a {
    text-decoration: none;
    color: #434242;
    font-weight: bold;
    margin-right: 30px;
}
header .add-buttons a:hover {
    color: #54b686;
}
header #login img {
    position: absolute;
    right: 60px;
    top: 15px;
    width: 50px;
    height: auto;
}
/* !header stylisation */
.under-header {
    top: 0;
    right: 0;
    width: 100%;
}
.layout {
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.main-page-title {
    text-transform: uppercase;
    background-color: #54b686;
    height: 160px;
    color: white;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    position: relative;
}
.main-page-title title {
    width: fit-content;
    display: inline-block;
}
.main-page-title .mmd-logo-gray {
    display: inline-block;
}
.main-page-title .title h1 {
    font-size: 10px
}
.main-page-title .title h3 {
    font-size: 15px;
}
.main-button-projects, .main-button-teachers, .main-button-problems {
    display: inline-block;
    width: calc(100% / 3);
    height: 490px;
    background-color: white;
    margin-right: -4px;
    text-decoration: none;
    color: #434242;
    box-sizing: border-box;
    background-size: cover;
}
.main-button-projects p, .main-button-teachers p, .main-button-problems p {
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;
    color: transparent;
}
.main-button-projects:hover p, .main-button-teachers:hover p, .main-button-problems:hover p {
    color: white;
}
.main-button-projects {
    background-image: url(../assets/projects-page-picture.png);
}
.main-button-teachers {
    background-image: url(../assets/teachers-page-picture.png);
}
.main-button-problems {
    background-image: url(../assets/problems-page-picture.png);
}
.main-button-projects:hover, .main-button-teachers:hover, .main-button-problems:hover {
    background-color: #54b686;
    color: white;
    background-image: none;
}
.main-button-projects h2, .main-button-teachers h2, .main-button-problems h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 30px;
}
input {
    font-family: "Averta CY", sans-serif;
    font-size: 20px;
    color: #434242;
    box-sizing: border-box;
}
/* forms stylisation */
form * {
    margin-bottom: 30px;
}
form p {
    margin-left: 30px;
    font-family: "Averta CY", sans-serif;
    font-size: 20px;
    color: #434242;
}
form .section-column {
    display: inline-block;
    width: 50%;
}
form h2 {
    font-family: "Averta CY", sans-serif;
    font-size: 50px;
    font-weight: 400;
    padding-top: 30px;
}
form input[type=text], input[type=tel], input[type=email], input[type=password] {
    box-sizing: border-box;
    padding: 5px 30px;
    height: 50px;
    width: 45%;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
}
form textarea {
    box-sizing: border-box;
    padding: 5px 30px;
    height: 200px;
    width: 100%;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
    font-family: "Averta CY", sans-serif;
    font-size: 20px;
    color: #434242;
    resize: none;
}
form input[name=project-name], textarea[name=project-description-short] {
    width: 100%;
}
form input[name=project-description-short] {
    height: 180px;
}
form input[type=text]:focus, form input[type=tel]:focus, form input[type=email]:focus, form input[type=password]:focus form textarea:focus {
    outline: none;
    border: 2px #54b686 solid;
    padding: 3px 28px;
}
form input[name=project-tag-add-1], form input[name=project-tag-add-2], form input[name=project-tag-add-3], form input[name=project-tag-add-4] {
    width: calc(100% / 5 - 20px);
    margin-right: 21px;
}
form input[name=project-tag-add-5] {
    width: calc(100% / 5 - 20px);
}
form input[type=submit] {
    width: 400px;
    height: 50px;
    background-color: #54b686;
    border: none;
    border-radius: 35px;
    margin-left: calc(50% - 200px);
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
form input[name=curator-last-name], form input[name=teacher-last-name], form input[name=curator-first-name], form input[name=teacher-first-name] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
    margin-right: 20px;
}
form input[name=curator-patronymic], form input[name=teacher-patronymic] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
}
form input[name=project-member-name], form input[name=project-member-last-name] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
    margin-right: 20px;
}
form input[name=project-member-patronymic] {
    width: calc((100%) / 3 - 16px);
    display: inline-block;
}
/* !forms stylisation */
.teacher-card {
    width: 610px;
    height: 376px;
    border-radius: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 30px;
}
.teacher-card .left-section {
    width: 188px;
    height: 188px;
    display: inline-block;

}
.teacher-card .right-section {
    width: 350px;
    height: 100%;
    display: inline-block;
}
.teacher-card .teacher-name {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.teacher-card .teacher-description {
    font-family: "Proxima Nova", sans-serif;
    font-size: 20px;
    color: #898989;
}
.teacher-card img {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}
.feed-title {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: #434242;
    margin-top: 30px;
    margin-bottom: 30px;
}
form[name=login] {
    margin-top: 15%;
}
form[name=login] input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-bottom: 10px;
}
form[name=login] .log-in {
    width: fit-content;
    padding-right: 30px;
    padding-left: 30px;
}
/* footer stylization */
footer {
    background-color: black;
    height: 120px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
footer .question {
    text-transform: initial;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
footer .write-us-button {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    color: black;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    padding: 4px 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}
footer .write-us-button a {
    background-color: transparent;
    text-decoration: none;
}
footer .write-us-button a:hover {
    color: black;
}
/* !footer stylization */