{% load static %}
body{
    margin: 0 0 0 0;
}
picture{
    max-height: 1050px;
}
    .pic_contain{

        width: 100%;
        height: 100%;
        background-image: url('../images/projects-page-picture-1920.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}
    .pic_content{
        padding-top: 80px;
        padding-bottom: 20px;
        width: 100%;
        height: calc(100% - 100px);
        align-items: center;
        display: flex;
        justify-content: space-between;
        size: auto;

        flex-direction: column;
    }
    .l1{
        display: flex;
        flex-direction: row;

    }
    .logo_title{
        display: flex;
        flex-direction: column;
    }
    .title1{
        position: relative;
        color: #434242;
        text-align: left;
        font: normal normal bold 15px Montserrat;
        opacity: 1;
        letter-spacing: 0;
    }
    .title2{
        position: relative;
        color: #434242;
        text-align: left;
        font: normal normal bold 50px/61px Montserrat;
        opacity: 1;
        letter-spacing: 0;
    }.title3{
        position: relative;
        color: #434242;
        text-align: left;
        font: normal normal bold 100px/122px Montserrat;
        opacity: 1;
        letter-spacing: 0;
    }
     .l2{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .arrow{
         width: 24px;
         height: 50px;
         background-image: url('../images/Arrow.svg');
     }
    .logo{
        position: relative;
        background-image: url('../images/MMD logo.svg');
        background-size: cover;
        max-width: 176px;
        max-height: 140px;
        width: 176px;
        height: 140px;
    }
        @media (min-width: 1360px) {
            .col-projects{
                width: 1300px;
                grid-template-columns: repeat(2, 1fr);
            }
            .content{
                width: 100%;
                height: 100%;
            }
            .rect{
                width: 555px;
                height: 410px;
            }
            .details{

            }
            .curator{
                position: relative;
            }
        }
        @media (min-width: 1100px) and (max-width: 1359px) {
            .details{

            }
            .col-projects{
                width: 1040px;
                padding: 20px 30px 20px 30px;
               grid-template-columns: repeat(2, 1fr);
            }
            .content{
                width: 100%;
                height: 100%;
            }
        }
        @media  (max-width: 1099px) {
            .rect{
                height: 100%;
            }
            .details{

            }
            .col-projects{
                max-width: 675px;
                padding: 20px 30px 20px 30px;
            }
            .content{
                width: 100%;
                height: 100%;
            }
                }
header{
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.9;
        }
        .header-contain{
            max-width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
        }
        ul {
            list-style-type: none;
            margin-block-start: 0;
            margin-block-end: 0;
            height: 60px;
            padding-inline-start: 0;
            display: flex;
            flex-flow: nowrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition: .5s;
        }
        .trans_a {
            padding: 10px 15px;
        }
        .menu{
            text-transform: uppercase;
            text-decoration: none;
            text-align: left;
            font: normal normal 300 16px/21px Averta CY;
            letter-spacing: 0;
            opacity: 1;
        }
        .add-buttons{
            padding: 10px;
        }
        .account{
            width: 50px;
            height: 50px;
            margin-right: 2em;
            background: url('../images/Avatar.png') no-repeat;
        }

        header .add-buttons_text {
            text-transform: uppercase;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            text-align: left;
            font-size: 24px;
            letter-spacing: 0;
            opacity: 1;
        }
        header .trans_a {
            font-weight: normal;
        }
        header #current {
            color: #54b686;
        }
        header .add-buttons a {
            text-decoration: none;
            color: #434242;
            font-weight: bold;
        }
        header .trans_a a {
            text-decoration: none;
            color: #434242;
            font-weight: bold;
        }
        header .add-buttons a:hover {
            color: #54b686;
        }
        header .trans_a a:hover{
            color: #54b686;
        }
        .layout{
            width: 1300px;
            margin-right: auto;
            margin-left: auto;
        }
        .col-projects {
            padding-top: 20px;
            margin-right: auto;
            margin-left: auto;
            display: grid;
            grid-gap: 5.38%;
        }
        .rect{
            padding: 20px 30px 20px 30px;
            border-radius: 20px;
            background: #FFFFFF 0 0;
            box-shadow: 0 3px 20px #00000029;
            opacity: 1;
            max-width: 615px;
            max-height: 600px;
        }
        .content{
            position: relative;
        }
        .title{
            height: 60px;
            position: relative;
            color: #434242;
            text-align: left;
            font: normal normal bold 26px/30px Montserrat;
        }
        .leader{
            font: normal normal normal 20px/26px Averta CY;
            color: #434242;
            position: relative;
        }
        .tags{
            position: relative;
            color: #434242;
            font: normal normal normal 15px/20px Proxima Nova;
            opacity: 1;
            padding-top: 10px;
            padding-bottom: 15px;
        }
        .description{
            height: calc(100% - 150px);
            position: relative;
            color: #898989;
            text-align: left;
            font: normal normal normal 20px/24px Proxima Nova;
        }
        .curator{
            position: relative;
            color: #434242;
            opacity: 1;
        }
        .details{
            left: calc(100% - 150px);
            position: relative;
            width: 150px;
            height: 44px;
            border: none;
            background: #54B686 0 0 no-repeat padding-box;
            border-radius: 15px;
            opacity: 1;
            font: normal normal normal 15px/20px Averta CY;
            text-align: center;
            color: white;
            font-weight: bold;
        }
        .details a{
            text-decoration: none;
        }
        .project_rect{
            width: 1300px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            background: #FFFFFF 0 0;
            box-shadow: 0 3px 20px #00000029;
            opacity: 1;
        }
        .pr_content{
            padding: 20px 30px 20px 30px;
        }
        .title_rect{
            position: relative;
            width: 1240px;
            height: 180px;
            background: #54B687 0 0 no-repeat padding-box;
            box-shadow: 0 3px 6px #00000029;
            border-radius: 35px;
            opacity: 1;
        }
        .pr_title{
            padding-top: 30px;
            text-align: center;
            font: normal normal bold 70px/80px Montserrat;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
        }
        .pr_h{
            padding-top: 30px;
            text-align: left;
            letter-spacing: 0;
            color: #434242;
            font: normal normal bold 30px/37px Montserrat;
        }
        .pr{
            padding-top: 1em;
            padding-bottom: 1em;
            text-align: left;
            font: normal normal normal 20px/26px Proxima Nova;
            letter-spacing: 0;
            color: #434242;
        }
        .more{
            text-align: center;
            font: normal normal normal 15px/20px Averta CY;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
        }

